*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    // border: 1px solid
}
img {max-width: 100%;}

body {
    font-family: $font;
}

.container {
    max-width: $container-xl;
    margin: 0 auto;
    @media (max-width:$l) {
        max-width: $container-l;
    }
    @media (max-width: $m) {
        max-width: $container-m;
    }
    @media (max-width: $s) {
        max-width: $container-s;
    }
}

.footer {
    background-color: #EDF4FA;
    background-image: url(../../assets/img/template/light-blue-bg.svg);
        display: flex;
        flex-direction: column;
        flex-basis: auto;
        justify-content: space-between;
        align-items: center;
    }
    .footer__wrapper {
        margin: 60px 0 40px;
        width: $container-xl;;
        display: flex;
        column-gap: 20px;
        justify-content: space-between;
        align-items: stretch;
        @media (max-width:$l) {
            max-width: $container-l;
        }
        @media (max-width: $m) {
            max-width: $container-m;
            margin: 40px 0 24px;
        }
        @media (max-width: $s) {
            max-width: $container-s;
            flex-direction: column;
            justify-content: center;
            align-items: normal;
            flex-flow: column wrap;
            .footer-contacts {
                order: 2;
                margin-top: 40px;
            }
            .footer__form {
                order: 1;
            }
        }
        .footer__logo {
            width: 238px;
            height: 67px;
            @media (max-width: $m) {
                width: 213px;
                height: 60px;
            }
            @media (max-width:$s) {
                width: 114px;
                height: 32px;
            }
        }
        .footer-contacts {
            max-width: 680px;
            height: 691px;
            font-weight: 600;
            font-size: 20px;
            color: $light_basic;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @media (max-width:$l) {
                width: 462px;
                height: 691px;
                font-size: 16px;
            }
            @media (max-width: $m) {
                width: 334px;
                height: 651px;
            }
            @media (max-width: $s) {
                width: 288px;
                height: 606px;
            }
            .footer__phone {
                width: 680px;
                height: 218px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: repeat(4 1fr);
                gap: 5px;
                margin: 40px 0;
                @media (max-width:$l) {
                    width: 462px;
                    height: 224px;
                }
                @media (max-width: $m) {
                    width: 334px;
                    height: 332px;
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(7 1fr);
                }
                @media (max-width: $s) {
                    width: 288px;
                    height: 274px;
                    margin: 20px 0;
                }
                .footer__name-item {
                    line-height: 2em;
                }
                .phone-text {
                grid-area: 1/1/2/3;
                @media (max-width: $m) {
                    grid-area: 1/1/2/2;
                }
            }
            .adress-text {
                @media (max-width: $m) {
                    grid-row: 6/7;
                }
            }
            .footer__adress-item {
                color: $purple_basic;
            }
            .item-active {
                color: $bright_basic;
                font-size: 26px;
                @media (max-width:$l) {
                    font-size: 18px;
                }
            }
            }
            .footer-map {
                max-width: 100%;
                width: 100%;
                height: 320px;
                border-radius:12px;
                @media (max-width:$l) {
                    width: 462px;
                    height: 300px;
                    font-size: 16px;
                }
                @media (max-width: $m) {
                    width: 334px;
                    height: 210px;
                @media (max-width: $s) {
                    width: 288px;
                    height: 274px;
                    margin-bottom: 20px;
                }
            }
        }
    }
    }
    .footer__copyright {
        display: block;
        color: $light_basic;
        font-weight: 200;
        font-size: 16px;
        margin-top: 20px;
    }
