@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;900&display=swap');
@import '../vars';
@import './Page2_AboutUs_Header-vars';
@import '../template_header';
@import '../template';
@import '../form';
@import '../template_footer';
@import '../template_OurClients';

//Блок 2_Наша команда является специалистами в сфере...(начало)

    .description-about-us{
        background-image: url(../../assets/img/template/background-graph-paper.jpg);
        .description-about-us__container{
            min-height: 688px;
            padding-top: 80px;
            display: flex;
            flex-direction: column;
            gap: 40px;
            @media (max-width: $l) {
                min-height: 544px;
                padding-top: 60px;
                gap: 24px;
            }
            @media (max-width: $m) {
                min-height:578px;
                padding: 40px 0;
            }
            @media (max-width: $s) {
                min-height: 1052px;
                gap: 8px;
            }
            .description-about-us__title{
                color: $dark_tertiary;
                font-weight: 700;
                font-size: 26px;
                    line-height: 33.8px;
                @media (max-width: $l) {
                    font-size: 18px;
                    line-height: 26px;
                    }
            }
            .description-about-us__list{
                font-weight: 400;
                font-size: 20px;
                line-height: 28px;
                list-style-position: inside;
                list-style-type: circle;
                color:$purple_basic;
                @media (max-width: $l) {
                    font-size: 16px;
                    line-height: 24px;
                    }
                .list__items{
                    @media (max-width: $s) {
                        padding-left: 0;
                        }
                .list__title, .items__item{
                    padding-bottom: 8px;
                    }
                }
            }
            .description-about-us__border-text{
                min-height: 116px;
                display: flex;
                border: 1px solid $dark_secondary;
                background-color: $bg_light-beige;
                border-radius: 12px;
                @media (max-width: $l) {
                    min-height: 80px;
                }
                @media (max-width: $m) {
                    min-height: 104px;
                }
                @media (max-width: $s) {
                    min-height: 184px;
                }
                .border-text__text{
                    padding: 30px;
                    color: $dark_tertiary;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 28px;
                    @media (max-width: $l) {
                        padding: 16px;
                        font-size: 16px;
                        line-height: 24px;
                    }
                    @media (max-width: $s) {
                        padding: 20px;
                    }
                }
            }
            .description-about-us__text-add{
                color: $dark_tertiary;
                font-weight: 400;
                font-size:20px;
                line-height: 28px; 
                @media (max-width: $l) {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }
        //Блок 2_Наша команда является специалистами в сфере...(конец)

.h2 {
    font-family: $font;
    font-size: 38px;
    font-weight: 900;
    color: $dark_tertiary;
}

.container {
    max-width: $container-xl;
    margin: 0 auto;
}

// Секция с аккордеоном "Почему стоит выбрать именно нас"

.about-working {
    &__container {
        display: flex;
        min-height: 700px;
        margin: 80px auto;
        align-items: center;
    }

    &__image {
        width: 680px;
        height: 680px;
        margin-right: 36px;
    }
}

// Дизайн аккордеона
.accordion {
    padding: 0;
    max-width: 680px;

    &__line {
        border: none;
        border-top: 1px solid #C1D3DE;
        margin: 0;
        margin-bottom: 20px;
    }

    &__spoiler {
        padding-left: 44px;
        font-family: $font;
        font-size: 20px;
        font-weight: 400;
        color: $purple_basic;
        line-height: 28px;
        max-height: 0;
        overflow: hidden;
    }

    &__text {
        margin: 0;
    }

    &__block {
        list-style-type: none;
        width: 100%;
        margin-bottom: 20px;

        label {
            display: flex;
            align-items: center;
            cursor: pointer;
            font-family: 'Inter', sans-serif;
            font-size: 20px;
            font-weight: 700;
            color: $purple_basic;
        }

        label::before {
            content: url(../../assets/img/template/circle-plus.png);
            margin-right: 20px;
            width: 24px;
            height: 24px;
        }
    }
}

input[type="checkbox"] {
    display: none;
}

.accordion {

    input[type="checkbox"]:checked+label+.accordion__spoiler {
        max-height: 400px;
    }

    input[type="checkbox"]:checked+label::before {
        content: url(../../assets/img/template/circle-minus.png);
        width: 24px;
        height: 24px;
    }
}

@media (max-width: $l) {
    .container {
        width: $container-l;
    }

    .about-working {
        &__container {
            min-height: 596px;
            margin: 60px auto;
        }

        &__tittle {
            margin: 0px;
            margin-bottom: 40px;
        }

        &__image {
            width: 462px;
            height: 462px;
            margin-right: 23px;
        }

    }

    .accordion {
        max-width: 462px;
        margin: 0;

        &__line:not(:last-child) {
            margin-bottom: 16px;
        }

        &__spoiler {
            font-size: 16px;
            line-height: 24px;
        }

        &__block {
            margin-bottom: 16px;

            label {
                font-size: 16px;
            }
        }

        &__text {
            span {
                display: none;
            }
        }
    }
}

@media (max-width: $m) {
    .container {
        width: $container-m;
        margin: 0 auto;
    }

    .about-working {
        &__container {
            min-height: 612px;
            margin: 60px auto;
        }

        &__image {
            width: 334px;
            height: 334px;
            padding-left: 0px;
            margin-right: 23px;
        }

        &__tittle {
            font-size: 28px;
        }
    }

    .accordion {
        max-width: 334px;

        &__block {
            margin-bottom: 16px;

            label {
                font-size: 16px;
            }
        }
    }
}

@media (max-width: $s) {
    .container {
        width: $container-s;
    }

    .about-working {
        &__container {
            min-height: 920px;
            flex-direction: column;
            margin: 50px auto;
        }

        &__image {
            width: 288px;
            height: 288px;
            margin-bottom: 20px;
        }

        &__tittle {
            margin-bottom: 32px;
        }
    }

    .accordion {
        &__block {
            margin-bottom: 4px;

            label {
                margin-bottom: 8px;
            }
        }

        &__line:not(:last-child) {
            margin-bottom: 12px;
        }

        &__text {
            margin-bottom: 12px;
        }
    }
}

// КОНЕЦ Секция с аккордеоном "Почему стоит выбрать именно нас"

//Блок 4_Цифры говорят за нас (начало)
    /*Блок 4_Цифры говорят за нас (начало)*/
    .numbers-about-us{
        background-color: $purple_basic;
        .numbers-about-us__container{
            min-height: 328px;
            padding-top: 80px;
            color: $dark_basic;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 60px;
            flex-flow: row nowrap;
            @media (max-width: $l) {
                min-height: 280px;
                padding-top: 60px;
            }
            @media (max-width: $m) {
                min-height:350px;
                padding: 40px 0 60px 0;
                gap: 20px;
                display: flex;
                flex-direction: column;
            }
            @media (max-width: $s) {
                min-height: 506px;
                padding-top: 40px;
            }
            .container__text-block {
                display: flex;
                flex-direction: column;
                gap: 24px;
                line-height: 40px;
                .text-block__title {
                    margin: 0;
                    @media (max-width: $l) {
                        font-size: 28px;
                        line-height: 36px;
                    }
                }
                .text-block__text{
                    font-weight: 400;
                    font-size: 26px;
                    @media (max-width: $l) {
                        font-size: 18px;
                        line-height: 26px;
                    }
                }
            }
            .container__number-blocks{
                margin: 0;
                display: flex;
                justify-content: flex-end;
                gap: 50px;
                @media (max-width: $l) {
                    gap: 30px;
                }
                @media (max-width: $s) {
                    width: 291px;
                    flex-direction: column;
                    justify-content: flex-start;
                    flex-flow: row wrap;
                    gap: 20px;
                    .number-block{
                        margin: 0;
                        gap: 10px;
                    }
                    .number-block:nth-child(-n+2){
                    flex-basis: 45%;
                    flex-flow: wrap;
                    }
                }
                .number-block__number{
                    font-weight: 700;
                    font-size: 68px;
                    line-height: 88.4px;
                    padding-bottom: 24px;
                    @media (max-width: $m) {
                        font-size: 48px;
                        line-height: 62.4px;
                    }
                    @media (max-width: $s) {
                        padding-bottom: 0;
                    }
                }
                .number-block__text{
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 28px;
                    @media (max-width: $l) {
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
            }
        }
    }
        //Блок 4_Цифры говорят за нас (конец)